<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>xkcd936 password generator</title>
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/css/bootstrap.min.css">
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/css/bootstrap-theme.min.css">
    </head>
    <body>
        <div class="container">
            <div class="page-header">
                <h1>Password generation in the style of <a href="http://xkcd.com/936">xkcd 936</a></h1>
            </div>
            <p class="lead text-center well">
            {% for word in words %}
                {{ word }}
            {% endfor %}
            </p>
            <p class="text-center"><a href="" class="btn btn-lg btn-primary"><span class="glyphicon glyphicon-repeat"></span> Again!</a></p>

            <p class="text-center">Selected <strong>{{ count }}</strong> words from among <strong>{{ space }}</strong>.</p>
            <p class="text-center">These settings yield <strong>{{ base }} &times; 10<sup>{{ exponent }}</sup></strong> ({{ magnitude }}) possible passwords.</p>

            <h2>Cracking estimates</h2>
            <table class="table">
                <thead>
                    <tr>
                        <th>Attack type</th>
                        <th>Symbol space</th>
                        <th>Symbols</th>
                        <th>Entropy</th>
                        <th>Time to crack <div class="small">(1k guesses per second)</div></th>
                    </tr>
                </thead>
                <tbody>
                {% for type, space, symbols, entropy, time, marker, footnote in attacks %}
                    <tr>
                        <td>{{ type }}<a href="#fn{{ marker }}"><sup>{{ marker }}</sup></a></td>
                        <td>{{ space }}</td>
                        <td>{{ symbols }}</td>
                        <td>2<sup>{{ entropy }}</sup></td>
                        <td>{{ time }}</td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
            {% for type, space, symbols, entropy, time, marker, footnote in attacks %}
                <p class="small">
                    <a name="fn{{ marker }}"></a>
                    <strong>{{ marker }}</strong>    {{ footnote }}
                </p>
            {% endfor %}

            <h2>Options</h2>
            <form method="get" action="">
                <table class="table" style="width: 60%;">
                    <thead>
                        <tr>
                            <th><label class="control-label" for="input_count">Number of words</label></th>
                            <th><label class="control-label" for="input_propers">Include proper nouns</label></th>
                            <th><label class="control-label" for="input_maxlength">Maximum word length</label></th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td><input class="form-control" id="input_count" type="number" min="1" max="10" name="count" value="{{ count }}"></td>
                            <td><input class="form-control" id="input_propers" type="checkbox" name="propers" value="true" {% if propers == 'true' %} checked{% endif %}>
                            </td>
                            <td><input class="form-control" id="input_maxlength" type="number" min="4" name="maxlength" value="{{ maxlength }}"></td>
                        </tr>
                    </tbody>
                </table>
                <p>
                    <button type="submit" class="btn btn-primary" name="submit"><span class="glyphicon glyphicon-ok"></span> Update</button>
                    <a class="btn btn-default" href="?"><span class="glyphicon glyphicon-remove"></span> Reset</a>
                </p>
            </form>
        </div>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/js/bootstrap.min.js"></script>
    </body>
</html>
